body, img {
    margin: 0;
    padding: 0;
    display: block;
}
div.board {
    position: relative;
    z-index: 10;
    height: 256px;
    overflow: hidden;
}
.background {
    opacity: 1;
    position: relative;
}
.grassUpper {
    z-index: 0;
    position: relative;
}
.grassLower {
    z-index: 1;
    position: relative;
}
.dirt {
    position: absolute;
    top: 50px;
    z-index: -1;
}
.moleContainer {
    width: 178px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    z-index: 0;
}
.moleContainer.riseFallLaugh {
    cursor: pointer;
}
img.mole {
    position: relative;
    left: 0;
}
#moleC1 {
    left: 112px;
}
#moleC2 {
    left: 422px;
}
#moleC3 {
    left: 731px;
}


.moleContainer.riseFallLaugh {
    -webkit-animation: rise 1000ms 0ms forwards, fall 1000ms 1000ms forwards;
}
.moleContainer.riseFallLaugh img {
    -webkit-animation: laugh 500ms 1000ms steps(3);
}
.moleContainer.hit {
    -webkit-animation: rise 1000ms 0ms forwards, fall 100ms 1000ms forwards;
}
.moleContainer.hit img {
    -webkit-animation: hit 350ms 0ms steps(4);
}


@-webkit-keyframes rise {
    0% {top: 100px;}
    100% {top: 0;}
}
@-webkit-keyframes fall {
    0% {top: 0;}
    100% {top: 100px;}
}
@-webkit-keyframes laugh {
    0% {left: -178px;}
    100% {left: -712px;}
}
@-webkit-keyframes hit {
    0% {left: -712px;}
    100% {left: -1424px;}
}
